.auth-form {
  width: 340px;
  padding: 15px;
  margin: 30px auto;
  &.hasColumns {
    box-sizing: border-box;
    width: 100%;
    &.register-form {
      max-width: 700px;
    }
  }
  .form-info-text {
    @include info-text;
    margin-bottom: 15px;
  }
  .form-bottom {
    display: flex;
  }
  .form-additional-errors {
    padding: 10px 0;
  }
  .form-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /deep/.button {
      span {
        height: 36px;
      }
    }
    &.register {
      /deep/.button {
        width: 102px;
      }
    }
    &.login {
      /deep/.button {
        width: 80px;
      }
    }
    .button-loader {
      /deep/.circle-preloader {
        width: 16px;
        height: 16px;
        margin: 0;
        border-bottom-color: transparent;
      }
    }
  }
  .link {
    font-size: 16px;
    font-weight: 400;
    color: $primary-font-color;
    text-decoration: none;
    padding: 5px 10px;
  }
  @media (max-width: $sm) {
    width: auto;
  }
}
