// Fonts
$main-font: "Roboto", sans-serif;

// Font colors
$white-font-color: rgb(255, 255, 255);
$black-font-color: rgba(0, 0, 0, 0.87);
$red-font-color: rgb(255, 82, 82);
$primary-font-color: rgb(27, 130, 241);
$dark-grey-font-color: rgb(145, 145, 145);

// Font sizes
// md, lg
$list-item-font: 14px;
$list-heading-item-font: 16px;
$list-text-item-font: 14px;
// sm
$list-item-font-sm: 16px;
$list-heading-item-font-sm: 18px;
$list-text-item-font-sm: 16px;


// Colors
$primary-color: rgb(27, 130, 241);
$light-primary-color: rgb(72, 155, 243);
$light-grey-color: rgb(238, 238, 238);
$grey-color: rgb(220, 220, 220);
$dark-grey-color: rgb(145, 145, 145);
$red-color: rgb(255, 82, 82);
$light-red-color: rgb(255, 116, 116);
$white-background-color: rgb(250, 250, 250);
$green-color: rgb(61, 218, 84);
$light-green-color: rgb(99, 225, 118);

// Shadow
$primary-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
0px 4px 5px 0 rgba(0, 0, 0, 0.14),
0px 1px 10px 0 rgba(0, 0, 0, 0.12);
$block-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
0px 2px 2px 0 rgba(0, 0, 0, 0.14),
0px 1px 5px 0 rgba(0, 0, 0, 0.12);

// Media breakpoints

$sm: 576px;
$md: 768px;
$lg: 992px;
